$main-color: #212B36;
$main-background: #EEEEEE;
$table-background: #ffffff;
$second-text-color: #00A0E3;
$thead-color: #808080;
$thead-bgcolor: #F3F3F3;
$trow-bgcolor: #F9FAFA;
$main-text-size: 16px;